@font-face {
  font-family: "Proxima Nova Rg";
  src: url("/font/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Rg"),
    url("/font/ProximaNova/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/font/ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("/font/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Sb";
  src: url("/font/ProximaNova/ProximaNova-Semibold.eot");
  src: local("Proxima Nova Semibold"),
    url("/font/ProximaNova/ProximaNova-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("/font/ProximaNova/ProximaNova-Semibold.woff") format("woff"),
    url("/font/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova RgI";
  src: url("/font/ProximaNova/ProximaNova-RegularIt.eot");
  src: local("Proxima Nova Regular Italic"),
    url("/font/ProximaNova/ProximaNova-RegularIt.eot?#iefix")
      format("embedded-opentype"),
    url("/font/ProximaNova/ProximaNova-RegularIt.woff") format("woff"),
    url("/font/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova B";
  src: url("/font/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"),
    url("/font/ProximaNova/ProximaNova-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/font/ProximaNova/ProximaNova-Bold.woff") format("woff"),
    url("/font/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
